@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*
{
  margin: 0;
  padding: 0;
} 

:root {
  --background-1: #EC4503;
  --background-2: #F9F2EB;
  --text-color1: #F9F2EB;
  --text-color2: #020202;
  --text-color3: #EC4503;
}


body {
  background-color: var(--background-1);
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  margin: 0px auto;
}


header {
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header h1 {
  text-align: center;
  color: var(--text-color1);
}

header a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color1);
}

a:visited {
  color: var(--text-color1);
}

.secao1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--text-color1);
  padding: 14px;
  flex-direction: row-reverse;
}

.secao1-texto {
  /* margin: 10px 0px 0px 0px; */
  padding: 20px;
}

.secao1-texto p {
  margin: 18px;
  text-align: justify;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.secao1-texto h2 {
  font-size: 2rem;
  margin: 24px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.secao2 {
  padding: 20px;
  color: var(--text-color1);
}

.secao2 h2 {
  text-align: center;
}

.secao2-texto {
  text-align: justify;
  /* margin: 10px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.secao2-texto p {
  margin: 14px;
  font-size: 1.3rem;
  line-height: 34px;
}

.secao3 {
  background-color: var(--background-2);
}

.secao3 h2 {
  text-align: center;
  padding: 20px;
}

.secao3-conteudo {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}

.secao3-texto {
  font-size: 1.2rem;
  align-self: center;
  padding: 20px;
}

.secao3-texto p {
  text-align: justify;
  margin-bottom: 12px;
}

.secao3-texto li {
  list-style: none;
  font-size: 1.1rem;
  margin: 5px;
}

i {
  color: var(--text-color3);
}

.secao4 {
  background-color: var(--background-1);
}

.secao4-texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-rows: 300px;
  color: var(--text-color1);
  text-align: justify;
  font-size: 1.3rem;
  line-height: 34px;
}

.secao4-texto p {
  margin: 20px;
}

.secao4-conteudo img {
  margin: 0px auto;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #EACDC9;
}

::-webkit-scrollbar-thumb {
  background: rgba(230, 143, 129, 40);
}

::-webkit-scrollbar-thumb:hover {
  background: #B36E64;
}
footer {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0;
  background-color: #F9F2EB;
}

.dese {
  padding-top: 10px;
}

.gabr {
  color: #EC4503;
  ;
}

.social {
  text-align: center;
  color: #333;
}

.social i {
  align-items: center;
  font-size: 30px;
  color: #333;

}

i {
  transition: 0.4s;
  cursor: pointer;
  margin: 10px 5px;
}


i:hover {
  color: #EC4503;
}

.dir {
  width: 100%;
  background-color: #EC4503;
  ;
  color: #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
}